<%- include('./partials/head.ejs'); %> 

<body class="game">
    <header>
        <h1>Movie Guessr</h1>
    </header>

    <main>
        <section>
            <h2>Guess the Movie</h2>
            <p>Img here from a movie</p>
        </section>

        <section>
            <h2>Chat</h2>
            <ul></ul>
            <form action="" id="chat">
                <input type="text" placeholder="type here...">
                <!-- source img: https://icons-for-free.com/plane+airline+airplane+origame+paper+paper+plane+send+icon-1320086457003410702/ -->
                <button type="submit"><img src="img/send.png" alt="send"></button>
            </form>

        </section>

    </main>

    <footer>

    </footer>
    
<!-- socket makes his own folder just like the public folder we make, with this you can call io() in your own script -->
<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>
</body>
</html>