<%- include('./partials/head.ejs'); %> 

<body>
    <header>

    </header>

    <main>
        <h1>Error! 😔</h1>
        <p>It seems something went wrong. Please try again later.</p>
        <a href="/">back to home</a>
    </main>

<%- include('./partials/footer.ejs'); %> 