<%- include('./partials/head.ejs'); %> 

<body class="home">
    <header>
        <%- include('./partials/logo.ejs'); %> 
    </header>

    <main>
        <section>
            <h2>Welcome!</h2>
            <p>This is THE game to play with friends.</p>
            <p>Guess together with friends which movie scene is displayed on screen and earn points!</p>
           <form action="/game" method="get">
                <input type="text" placeholder="Display name" name="name" minlength="1" required="required">
            <button type='submit'>Start playing 👾</button>
           </form>
        </section>
    </main>

    <footer>
        <img src="img/popcorn1.png" alt="popcorn banner">
    </footer>

<%- include('./partials/footer.ejs'); %> 
