<%- include('./partials/head.ejs'); %> 

<body class="home">
    <header>
        <h1>Movie Guessr</h1>
    </header>

    <main>
        <section>
            <h2>Welcome!</h2>
            <p>This is THE game to play with friends.</p>
            <p>Every user has one turn to give hints to the other users. The rest have to guess which movie is described.</p>
           <form action="/game">
            <input type="text" placeholder="Display name">
            <button type='submit'>Start playing!</button>
           </form>
        </section>
    </main>

<%- include('./partials/footer.ejs'); %> 
