body {
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    background-color: rgb(44, 44, 44);
    color: white;
    hyphens: auto;
    font-family: 'Fira Mono', monospace;

}

h1{
    font-size: 32px;
    text-align: left;
    margin: 1em;
}


h2{
    text-align: center;
}

span{
    color: coral;
}

section:first-of-type{
    position: relative;
}

section:first-of-type img{
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/********************************/
/*----------- HOME ------------*/
/******************************/
.home{
    height: 95vh;
}
.home main{
    position: relative;
}

.home main section:first-of-type{
    text-align: center;
    width: 50%;
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.home h1{
    text-align: center;
}

/* input field */

.home main input{
    padding: 1em;
    border-radius: 10px;
    outline: none;
    border: solid 2px coral;
    /* width: 100%; */
    font-family: 'Fira Mono', monospace;
}

.home main input:focus{
    outline: none;
    border: solid 3px coral;
}

.home main form button{
    outline: none;
    padding: .5em;
    margin: 0em 0em 0em -1.2em;
    font-family: 'Fira Mono', monospace;
    background-color: coral;
    outline: none;
    border: none;
    border-radius: 0px 10px 10px 0px;
    color: white;
    padding: 1em;
    font-weight: 700;
}

.home main form button:hover{

    background-color: rgb(197, 99, 63);
    cursor: pointer;

}

.home form{
    display: flex;
    justify-content: center;
}

/* footer home */

.home footer img{
    width: 100vw;
}

.home footer {
    position: absolute;
    bottom: 0;
}

/********************************/
/*----------- GAME ------------*/
/******************************/

/****************/
/* GRID LAYOUT */
/**************/

.game main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}

/*******************/
/* CHAT INTERFACE */
/*******************/

.game main section:nth-of-type(2){
    background-color: rgb(26 26 26);
    height: 100vh;
    border-radius: 10px 0px 0px 10px;
    position: relative;
}

.game main section:nth-of-type(2) h2{
    text-align: center;
}

.game main section:nth-of-type(2) ul li{
    background-color: white;
    border-radius: 10px;
    max-width: 350px;
    padding: 1em;
    list-style: none;
    margin: 1em auto;
    color: black;
    text-align: left;
}

.game main section:nth-of-type(2) ul li p:first-of-type {
    font-weight: 700;
    color:  rgb(202, 104, 68);
}
.game main section:nth-of-type(2) ul li p {
    margin: .1em;
}

.game main section:nth-of-type(2) ul{
    padding: 1em;
    height: 65vh;
    overflow-y: scroll;
}

/*******************/
/****** FORM ******/
/*******************/

.game main section:nth-of-type(2) form{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: coral;
    padding: 1em;
}

.game main section:nth-of-type(2) input{
    padding: 1em;
    border-radius: 10px;
    outline: none;
    border: solid 1.5px coral;
    width: 100%;
}

/* BUTTON */

.game main section:nth-of-type(2) button {
    background-color: rgb(202, 104, 68);
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 1em;
    margin: 0em 0em 0em -1em ;
    text-align: center;
    transition: .5s ease;
}

.game main section:nth-of-type(2) button img{
    width: 25px;
    height: 25px;
    margin: auto;
}

.game main section:nth-of-type(2) button:hover, main section:nth-of-type(2) button:focus  {
    background-color: rgb(202, 104, 68);
    cursor: pointer;
}

/**************************************/
/*----------- RESPONSIVE ------------*/
/************************************/

@media (max-width: 720px){

    .game main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    section:first-of-type img{
        position:static;
        margin: 3em auto;
        max-height: 200px;

    }

    h1{
        text-align: center;
    }

}
